Assignment 4 

Due : 12/06/2020

Total points : 115

For this assignment you would need the csv file Example1.csv. Please check the attached file on Elearning

Download the Example1.csv in the working directory of the Python (by default its C:\Users\user_name

The file contains information on Twitter user accounts. Each row in the file contains information such as Likes, Followers, Name,  etc. for a Twitter account.

Question 1 : Load Example1.csv and answer the following question

Type the appropriate command in python that prints the number of rows in the file Example1.csv (See the file Python library 1.ipynb) 

Points : 15

In [11]:
# Import pandas
import pandas as pd
# import dataset
myDataFrame = pd.read_csv('Example1.csv')

#show dimensions
myDataFrame.shape

# Here we can see there is 2905 rows and 13 columns 
# another method len(myDataFrame)
#data.shape[0] # another method

(2905, 13)

Question 2 : Load the columns 'Likes', 'Followers','Following', 'Screen Name' from Example1.csv file and create a Pandas data frame object named 'data' and use the appropriate function to print the first three rows of the object data. 

Points : 20

In [41]:
# Write the code for question 2 here
data = myDataFrame[['Likes','Followers','Following','Screen Name']]
data.loc[0:2] # This gives me the top 3 rows of the data object
#data.head(n=3) # option 2
#data.iloc[0:3] # option 3

      Likes  Followers  Following    Screen Name
0   91108.0     2668.0     4676.0   GraceODeay23
1     107.0        3.0       20.0   RobynQuinlin
2  156436.0      351.0       67.0  WindyCityFunk

Question 3 : Load the columns 'Likes', 'Followers','Following', 'Screen Name' from Example1.csv file and create a Pandas data frame object named 'data'. Use the appropriate approach to print the last three rows of the dataframe data.

Hint: use the shape attribute of data (data.shape) to extract the number of rows in data and print the last three rows. 

Points: 20

In [105]:
# Write the code for the question 3 here 
data = myDataFrame[['Likes','Followers','Following','Screen Name']]
data.tail(n=3) # option 1
#data.iloc[-3:] # option 2 gets same results
#data.loc[2902:2904,] # option 3

        Likes  Followers  Following      Screen Name
2902   1917.0      198.0      303.0  SaltandLightMt5
2903    415.0      103.0      754.0       scfgigem92
2904  28727.0     4091.0     4145.0         wfnx1990

Question 4 : Load the columns 'Likes', 'Followers','Following', 'Screen Name' from Example1.csv file and create a Pandas data frame object named 'data'. Use the appropriate approach to print the last three rows of the column 'Followers' in the object data.

Hint: use the shape attribute of data (data.shape) to extract the number of rows in data and print the last three rows. 

Points: 20

In [104]:
# Write the code for the question 3 here 
data = myDataFrame[['Likes','Followers','Following','Screen Name']]
data.tail(n=3) # option 1
#data.iloc[-3:] # option 2 gets same results
#data.loc[2902:2904,] # option 3

        Likes  Followers  Following      Screen Name
2902   1917.0      198.0      303.0  SaltandLightMt5
2903    415.0      103.0      754.0       scfgigem92
2904  28727.0     4091.0     4145.0         wfnx1990

Question 5 : Load all columns from Example1.csv file and create a Pandas data frame object named 'data'. 

Find how many Twitter users have likes more than 500 ? 

Hint: Take a look at the Example 1 in Pandas Library 2.ipynb file on elearning. 

Points: 20

In [103]:
# Type your answer to the question 5 below
data = myDataFrame[['Likes','Followers','Following','Screen Name']]
#data = data[(data['Likes'] > 500)].count() # one way 
#print(len(data[data['Likes'] > 500])) # another way 
#data.loc[data.Likes > 500, 'Likes'].count() # another way 
#(data.Likes > 500).sum()  # another way 
#data.query('Likes > 500').Likes.count()# another way 

# another way 
count  = 0
for i in range(data.shape[0]): # data.shape[0] gives number of rows 
    if data.iloc[i,0] > 500: # likes is the first column so the index is 0
        count = count+1
print(count)

2159

Question 6 : Load all columns from Example1.csv file and create a Pandas data frame object named 'data'. 

Using a loop (for or while) identify Twitter users that have likes more than 100000 and followers less than 10000 and save their names inside a list named user_names and print it. 

Hint: Take a look at the last example in Pandas Library 2.ipynb file on elearning. 

points : 25

In [143]:
# Type the code for question 6 here
data = myDataFrame[['Likes','Followers','Following','Screen Name']]
likelist  = []
for i in range(data.shape[0]): # data.shape[0] gives number of rows 
    if data.iloc[i,0] > 100000 and data.iloc[i,1] > 10000:
        likelist.append(data.iloc[i,3])
print(likelist)

# Check method
#data2 = data[(data['Screen Name'] == 'SSparklesDaily')]
#data2 = data[(data['Likes'] > 100000) & (data['Following'] > 10000)]
#data2

['SSparklesDaily', 'leeleemunster', 'FreedomChild3', 'kimlockhartga', 'SpecialKMB1969', 'JAmy208', 'AdamsFlaFan', 'tgradous', 'LauraBergerol', 'th3j35t3r', 'lsmith4680', 'Hardline_Stance', 'StoshAuf', 'KazmierskiR', 'BlissTabitha', 'laneylane25', 'fabucat', 'Twitlertwit', 'Jeannie_Hartley', 'cgpb', 'Lee_in_Iowa', 'MAGA_1958', 'AppSame', 'Jim_Peoples_', '_PatJohnson_', 'DarLovesAmerica', 'mefbama', 'Tam_Resist']