# Python Introduction
<p> The purpose of this is for me to get a feel of python <p>

# Arithmatic variables

In [5]:
# Arithmatic funcitons
print(3+3)
print(5*9)
print(7/3)
print(10-2)
print(18 % 7)
print(4 ** 2)
# How much is your $100 worth after 7 years?
print(100 * 1.1 ** 7)

# print numberic variables
tax = 0.05
price = 100.5
total = price + price * tax
print(total)

6
45
2.3333333333333335
8
4
16
194.87171000000012
105.525

# Strings

In [10]:
item1 = "apple"
item2 = "pear"
buythis = item1 + " " + item2
print(buythis)

apple pear

In [20]:
print("I really need to buy " + str(item1) + " and " + str(item2) + " today!")

I really need to buy apple and pear today!

In [14]:
# print first letter of item1 
item1[0]

'a'

In [15]:
# last character in 'item2'
item1[-1]

'e'

In [16]:
item2[0:3] # the first 4 characters

'pea'

In [17]:
item2[1:3] # the second through 4th characters

'ea'

In [18]:
len(item2) # number of characters in the string

4

In [26]:
item2[1:] # character 2 and after

'ear'

In [29]:
item2[:2] # first 2 characters

'pe'

In [30]:
item2[:2] + ' ' + item2[2:]  # print everything after 2 and firststring concatenation

'pe ar'

In [31]:
cost = 5 

item2[:4] + ' cost: ' + str(cost)

'pear cost: 5'

In [22]:
# investments
savings = 5 # five dollars
investments = 5 * 1.05 ** 7  #getting 5% return on my money for 7 years
print("I had 5 dollars now i have " + "$" + str(investments))

I had 5 dollars now i have $7.035502113281252

In [32]:
# strings for date and time 
from datetime import date
today = date.today()
print(today)
print(today.strftime("%a %m/%d/%Y"))

2020-02-29
Sat 02/29/2020

In [33]:
print('blake', 'tindol', '3/2/1998', 65000, sep=',') # comma separated values

blake,tindol,3/2/1998,65000

In [34]:
tax_rate = 0.05
quantity = 3
price = 100.5
line_total = quantity * price
tax = line_total * tax_rate
total = line_total + tax

print("The total is unit price", price, " times quantity (", quantity, ") plus tax (", tax, ") = ", total)

The total is unit price 100.5  times quantity ( 3 ) plus tax ( 15.075000000000001 ) =  316.575

In [35]:
# Remove space around strings with the 'sep' parameter.
print("The total is unit price", price, " times quantity (", quantity, ") plus tax (", tax, ") = ", total, sep='')

The total is unit price100.5 times quantity (3) plus tax (15.075000000000001) = 316.575

In [39]:
# Print formatted string. Each {} is a place holder for a value.
print("The total is unit price (${}) times quantity ({}) plus tax ({}) = ${}".format(price, quantity, tax, total))

The total is unit price ($100.5) times quantity (3) plus tax (15.075000000000001) = $316.575

In [40]:
# Values can be used out of order
print("The total ${1} = unit price ${0} * quantity {2} plus tax {3} = ${3}".format(price, quantity, tax, total))

The total $3 = unit price $100.5 * quantity 15.075000000000001 plus tax 316.575 = $316.575

# Lists and Data Structures

In [42]:
datascientist = 100000
awssolutionsarchitect = 120000
developer = 80000
machinelearningengineer = 120000

# create list of variables
jobs = [datascientist, awssolutionsarchitect, datascientist, developer, machinelearningengineer, developer, developer,awssolutionsarchitect,awssolutionsarchitect, datascientist]

print(jobs)

[100000, 120000, 100000, 80000, 120000, 80000, 80000, 120000, 120000, 100000]

In [44]:
# create list of strings
job = ['datascientist', 'awssolutionsarchitect', 'datascientist', 'developer', 'machinelearningengineer', 'developer', 'developer','awssolutionsarchitect','awssolutionsarchitect', 'datascientist']
print(job)

['datascientist', 'awssolutionsarchitect', 'datascientist', 'developer', 'machinelearningengineer', 'developer', 'developer', 'awssolutionsarchitect', 'awssolutionsarchitect', 'datascientist']

In [45]:
# Counting number of times this jobs shows up
job.count('datascientist')

3

In [46]:
# where is this job located in the list
job.index('datascientist') # returns the first element

0

In [52]:
# The list in reverse
job.reverse()

In [53]:
job

['datascientist',
 'awssolutionsarchitect',
 'awssolutionsarchitect',
 'developer',
 'developer',
 'machinelearningengineer',
 'developer',
 'datascientist',
 'awssolutionsarchitect',
 'datascientist']

In [55]:
# Sorting the list 
job.sort()
job

['awssolutionsarchitect',
 'awssolutionsarchitect',
 'awssolutionsarchitect',
 'datascientist',
 'datascientist',
 'datascientist',
 'developer',
 'developer',
 'developer',
 'machinelearningengineer']

In [56]:
job.pop()

'machinelearningengineer'

In [60]:
# adding elements
job.append("dataanalyst")
job[9]

'dataanalyst'

In [62]:
# Inserting values
job.insert(1, 'analyst')
job

['awssolutionsarchitect',
 'analyst',
 'analyst',
 'awssolutionsarchitect',
 'awssolutionsarchitect',
 'datascientist',
 'datascientist',
 'datascientist',
 'developer',
 'developer',
 'developer',
 'dataanalyst',
 'dataanalyst',
 'dataanalyst',
 'dataanalyst']

In [64]:
# indexing inserting
job[0] = 'businessanalyst'
job

['businessanalyst',
 'analyst',
 'analyst',
 'awssolutionsarchitect',
 'awssolutionsarchitect',
 'datascientist',
 'datascientist',
 'datascientist',
 'developer',
 'developer',
 'developer',
 'dataanalyst',
 'dataanalyst',
 'dataanalyst',
 'dataanalyst']

In [65]:
# deleting elements
del job[0] # deleting business analyst
job

['analyst',
 'analyst',
 'awssolutionsarchitect',
 'awssolutionsarchitect',
 'datascientist',
 'datascientist',
 'datascientist',
 'developer',
 'developer',
 'developer',
 'dataanalyst',
 'dataanalyst',
 'dataanalyst',
 'dataanalyst']

In [66]:
# printing and indexing
print('The first three jobs are', job[0:3])

The first three jobs are ['analyst', 'analyst', 'awssolutionsarchitect']

In [69]:
# finding out if value is in list give boolean
'developer' in job

True

In [71]:
# mixing values and strings
datascientist = 100000
awssolutionsarchitect = 120000
developer = 80000
machinelearningengineer = 120000

# create list of variables
jobs = [datascientist, 'data analyst', awssolutionsarchitect, datascientist, 'mc donalds', developer, machinelearningengineer, 'reenlisting',developer, developer,awssolutionsarchitect,awssolutionsarchitect, datascientist]

print(jobs)

[100000, 'data analyst', 120000, 100000, 'mc donalds', 80000, 120000, 'reenlisting', 80000, 80000, 120000, 120000, 100000]

# Tuples
Similar to lists, tuples are a seuqnce data type used to group a list of values. Unlike lists, tuples are immutable.

In [75]:
tax_rate = 0.05
quantity = 3
price = 100.5
t1 = 0.05, 3, 100.5

In [76]:
# calling normal object
t1

(0.05, 3, 100.5)

In [79]:
# indexing normal object
t1[1] # getting second element

3

In [80]:
# Values in a tuple can be another data type (e.g., lists in our case)
t2 = [0.05, 3, 100.5], [0.03, 4, 20], [0.05, 5, 80.5]

In [81]:
# indexing tuples
t2[1] # second element of the list (not same with tuple)

[0.03, 4, 20]

In [82]:
# assigning the letters to the variable in the order the data sits in the variable
t, q, p = t1 # 0.05 = t, 3 = q, 100.5 = p

In [83]:
# Calling them in different order
print("Price={}, Quantity={}, Tax={}".format(p, q, t))

Price=100.5, Quantity=3, Tax=0.05

In [85]:
# indexing does 3 exist in this list?
3 in t1

True

# Dictionaires
Unlike lists and tuples that are indexed by a range of numbers, dictionaries are indexed by keys. A key can be any immutable type, such as string, number, etc. Another way to think of a dictionary is to view it as a set of key:value pairs.

In [87]:
salary = {'Blake': 140980, 'sape': 41390, 'jen':45010, 'bob':48520, 'john':99000}
salary

{'Blake': 140980, 'sape': 41390, 'jen': 45010, 'bob': 48520, 'john': 99000}

In [90]:
# adding in information
salary['sara'] = 140927
salary

{'Blake': 140980,
 'sape': 41390,
 'jen': 45010,
 'bob': 48520,
 'john': 99000,
 'sara': 140927}

In [94]:
# deleting information
del salary['sape']
salary

{'Blake': 140980, 'jen': 45010, 'bob': 48520, 'john': 99000, 'sara': 140927}

In [95]:
list(salary)  # show all keys in a list format

['Blake', 'jen', 'bob', 'john', 'sara']

In [97]:
# update blakes new salary for his invention
salary['Blake']= 1000000
salary

{'Blake': 1000000, 'jen': 45010, 'bob': 48520, 'john': 99000, 'sara': 140927}

In [99]:
# sorting in alphabetical order
sorted(salary)

['Blake', 'bob', 'jen', 'john', 'sara']

In [100]:
# is element in dictionary
'Blake' in salary

True

In [101]:
# is it not in dictionary
'Blake' not in salary

False

# IF Statements

In [102]:
x = 42

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

# METHODS

In [104]:
salary = "jobo"
salary_up = salary.upper()
salary

'jobo'

In [105]:
# print upper method
salary_up

'JOBO'

In [107]:
# how manyt times does value appear in job
print(salary.count('o'))

2

In [108]:
# list methods
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

2

In [109]:
# Print out how often 9.50 appears in areas
print(areas.count(9.50))

1

In [110]:
# add in elements
areas.append(20.5)
areas.append(18.45)
areas

[11.25, 18.0, 20.0, 10.75, 9.5, 20.5, 18.45]

# Looping

In [111]:
# Print even numbers between 1 and 10.
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

2
4
6
8

In [115]:
# Strings loop
s1 = 'I am so greatful for the opportunity’s, to (say yes’s) to this 200k, remote job that is not even full time as a machine learning engineer and robotic systems coder thank you'

# Split s1 at every space.
s2 = s1.split()

In [116]:
s2

['I',
 'am',
 'so',
 'greatful',
 'for',
 'the',
 'opportunity’s,',
 'to',
 '(say',
 'yes’s)',
 'to',
 'this',
 '200k,',
 'remote',
 'job',
 'that',
 'is',
 'not',
 'even',
 'full',
 'time',
 'as',
 'a',
 'machine',
 'learning',
 'engineer',
 'and',
 'robotic',
 'systems',
 'coder',
 'thank',
 'you']

In [117]:
# Show words and word lengths.

for w in s2:
    w1 = w.replace('(', '')   # remove all left parentheses
    w1 = w1.replace(')', '')  # remove all right parentheses
    w1 = w1.replace(',', '')  # remove all commas
    print(w1, len(w1))

I 1
am 2
so 2
greatful 8
for 3
the 3
opportunity’s 13
to 2
say 3
yes’s 5
to 2
this 4
200k 4
remote 6
job 3
that 4
is 2
not 3
even 4
full 4
time 4
as 2
a 1
machine 7
learning 8
engineer 8
and 3
robotic 7
systems 7
coder 5
thank 5
you 3

In [118]:
# Show words and word lengths. Same version, but more condensed.
for w in s2:
    w1 = w.replace('(', '').replace(')', '').replace(',', '')  # remove (, ) and commas
    print(w1, len(w1))

I 1
am 2
so 2
greatful 8
for 3
the 3
opportunity’s 13
to 2
say 3
yes’s 5
to 2
this 4
200k 4
remote 6
job 3
that 4
is 2
not 3
even 4
full 4
time 4
as 2
a 1
machine 7
learning 8
engineer 8
and 3
robotic 7
systems 7
coder 5
thank 5
you 3

In [120]:
# Print every letter in a string.

y = 'first things first'

for i in range(0, len(y)):
    if y[i] is not ' ':
        print(y[i])

f
i
r
s
t
t
h
i
n
g
s
f
i
r
s
t

In [121]:
# Print unique characters.

y = 'mississippi'  
z = []  # an empty list for later use.

for i in range(0, len(y)):
    # If a character is not already in list z, put it in there and print.
    if y[i] not in z:
        z.append(y[i])
        print(y[i])

m
i
s
p

In [122]:
# Print key and value pairs from the dictionary tel.

salary = {'Blake': 140980, 'sape': 41390, 'jen':45010, 'bob':48520, 'john':99000}

for k,v in salary.items():
    print("Key={}, Value={}".format(k, v))

Key=Blake, Value=140980
Key=sape, Value=41390
Key=jen, Value=45010
Key=bob, Value=48520
Key=john, Value=99000

In [127]:
# Print list items in ascending order.

vacationspots = ['bali', 'maldives', 'puertorico', 'virginislands', 'notmichigan', 'florida']
for f in sorted(set(vacationspots)):
    print(f)

bali
florida
maldives
notmichigan
puertorico
virginislands

# Lambda Functions
A lambda function is a short-hand way to define a simple function. A lambda function usually has no name. Therefore, it is called an anonymous function. See Lambda Functions in Python for more.

In [129]:
# A typical user-define function.

def remainder(num):
    return num %2

remainder(remainder(19))

1

In [133]:
# Lambda function to calculate remainder

lambda num: num %2

In [134]:
# A lambda function usually does not have a name, but you can assign it to a variable (i.e., 'remainder' in our case below) 
# and then use the variable as a pseudo-name or alias. 

remainder = lambda num: num % 2

print(remainder(11))

1

In [135]:
lambda doub: doub * 2

In [136]:
double = lambda doub: doub * 2
print(double(30))

60

# Mapping¶
A mapping is used to apply a function to every element of a sequence.

In [137]:
# Multiply each element of a list by two.

# A user defined function that adds a number to itself.
def addition(n):
    return n+ n

numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [138]:
# Multiply each element of a list by two using the map() function and lambda.

numbers = (1, 2, 3, 9) 
result = map(lambda n: n + n, numbers) 
print(list(result))

[2, 4, 6, 18]

In [139]:
# Add two lists using map and lambda.
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

[5, 7, 9]

In [143]:
# Show the lengh of each word. it counts spaces

l = ['data analyst', 'dataanalyst', 'datascientist', 'machinelearningenginner'] 

result = map(lambda x: len(x), l)
print(list(result))

[12, 11, 13, 23]

# List Comprehensions
List comprehensions are a concise way to create new lists where each element is the result of some operations applied to each member of another sequence data type.

In [144]:
# Square every number between 0 and 9.

def square(x):
    return x**2

result = map(square, range(10))
print(list(result))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [145]:
# Square every number between 0 and 9.

squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [146]:
# Raise each price by 5%

unit_price = [3.2, 4.5, 1.4, 2.5]

new_unit_price = [x * 1.05 for x in unit_price]
new_unit_price

[3.3600000000000003, 4.7250000000000005, 1.47, 2.625]

In [147]:
# Illustration of what the zip() function does.

order_quantity = [2, 5, 6, 1]
unit_price = [3.2, 4.5, 1.4, 2.5]

result = zip(order_quantity, unit_price)
print(list(result))

[(2, 3.2), (5, 4.5), (6, 1.4), (1, 2.5)]

In [148]:
#Note: the zip function produces a list of tuples that pair elements of two lists at the same position.
#As you see from the above example, the first pair (2, 3.2) 
# is a tuple that combines the first element in each list.

# Multiply two lists using list comprehension with zip()

order_quantity = [2, 5, 6, 1]
unit_price = [3.2, 4.5, 1.4, 2.5]

result = [x * y for x, y in zip(order_quantity, unit_price)]
print(list(result))

[6.4, 22.5, 8.399999999999999, 2.5]

In [150]:
# Calculate the price with tax. Example adopted from https://realpython.com/list-comprehension-python/

txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)

final_prices = [get_price_with_tax(i) for i in txns]
final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

# Numpy

In [152]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np
import numpy as np

# Create a Numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print(type(np_baseball))

<class 'numpy.ndarray'>

In [155]:
# Import numpy
import numpy as np


# Create a numpy array from baseball_in: np_baseball_in
np_baseball_in = np.array(baseball)

# Print out np_baseball_in
print(np_baseball_in)

# Convert np_baseball_in to m: np_baseball_m
np_baseball_m = np_baseball_in * 0.0254

# Print np_baseball_m
print(np_baseball_m)

[180 215 210 210 188 176 209 200]
[4.572  5.461  5.334  5.334  4.7752 4.4704 5.3086 5.08  ]