In [1]:
! pip install pytrends

Requirement already satisfied: pytrends in c:\users\btindol\anaconda3\lib\site-packages (4.7.3)
Requirement already satisfied: pandas>=0.25 in c:\users\btindol\anaconda3\lib\site-packages (from pytrends) (1.1.3)
Requirement already satisfied: requests in c:\users\btindol\anaconda3\lib\site-packages (from pytrends) (2.24.0)
Requirement already satisfied: lxml in c:\users\btindol\anaconda3\lib\site-packages (from pytrends) (4.6.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\btindol\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\btindol\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\btindol\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pytrends) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pytrends) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\btindol\anaconda3\lib\site-packages (from requests->pytrends) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\btindol\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)

In [3]:
from pytrends.request import TrendReq
import pandas as pd
import time
startTime = time.time()
#pytrends = TrendReq(hl='en-US', tz=360, timeout=(10,25), proxies=['https://34.203.233.13:80',], retries=2, backoff_factor=0.1, requests_args={'verify':False})

pytrends = TrendReq(hl='en-US', tz=360)

In [4]:
kw_list = ["Blockchain"]
#df = pytrends.build_payload(kw_list, cat=0, timeframe='all', geo='US-MI', gprop='')
pytrends.build_payload(kw_list, cat=0, timeframe='all', geo='US-CA', gprop='')

In [5]:
pytrends.interest_over_time()

            Blockchain isPartial
date
2004-01-01           0     False
2004-02-01           0     False
2004-03-01           0     False
2004-04-01           0     False
2004-05-01           0     False
...                ...       ...
2020-10-01          17     False
2020-11-01          26     False
2020-12-01          22     False
2021-01-01          35     False
2021-02-01          13      True

[206 rows x 2 columns]

In [6]:
# Historical hourly intreest
pytrends.get_historical_interest(kw_list, year_start=2018, month_start=1, day_start=1, hour_start=0, year_end=2018, month_end=2, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)
pytrends.interest_over_time()

                     Blockchain  isPartial
date
2018-01-29 00:00:00          39      False
2018-01-29 01:00:00          44      False
2018-01-29 02:00:00          58      False
2018-01-29 03:00:00          59      False
2018-01-29 04:00:00          68      False
...                         ...        ...
2018-02-04 20:00:00          38      False
2018-02-04 21:00:00          39      False
2018-02-04 22:00:00          31      False
2018-02-04 23:00:00          29      False
2018-02-05 00:00:00          26      False

[169 rows x 2 columns]

In [7]:
pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False)

                                              Blockchain
geoName
Bakersfield CA                                        13
Chico-Redding CA                                      18
Eureka CA                                             26
Fresno-Visalia CA                                     13
Los Angeles CA                                        42
Medford-Klamath Falls OR                               0
Monterey-Salinas CA                                   39
Palm Springs CA                                       23
Reno NV                                                4
Sacramento-Stockton-Modesto CA                        27
San Diego CA                                          41
San Francisco-Oakland-San Jose CA                    100
Santa Barbara-Santa Maria-San Luis Obispo CA          33
Yuma AZ-El Centro CA                                   1

In [10]:
search_list = ["back pain", "knee pain", "heart pain", "liver pain", "covid"] #max of 5 values allowed
pytrends.build_payload(search_list, timeframe='today 12-m') 
df_ot = pd.DataFrame(pytrends.interest_over_time())#.drop(columns='isPartial')
df_ot

            back pain  knee pain  heart pain  liver pain  covid isPartial
date
2020-02-09          1          0           0           0      0     False
2020-02-16          1          0           0           0      1     False
2020-02-23          1          0           0           0      3     False
2020-03-01          1          0           0           0      8     False
2020-03-08          1          0           0           0     27     False
2020-03-15          1          0           0           0     66     False
2020-03-22          1          0           0           0     76     False
2020-03-29          1          0           0           0     82     False
2020-04-05          1          0           0           0     72     False
2020-04-12          2          0           0           0     58     False
2020-04-19          2          0           0           0     52     False
2020-04-26          1          0           0           0     52     False
2020-05-03          1          0           0           0     50     False
2020-05-10          1          0           0           0     50     False
2020-05-17          1          0           0           0     45     False
2020-05-24          1          0           0           0     43     False
2020-05-31          1          0           0           0     34     False
2020-06-07          1          0           0           0     40     False
2020-06-14          1          0           0           0     47     False
2020-06-21          2          0           0           0     63     False
2020-06-28          2          0           0           0     76     False
2020-07-05          2          0           0           0     74     False
2020-07-12          2          0           0           0     81     False
2020-07-19          2          0           0           0     64     False
2020-07-26          2          0           0           0     63     False
2020-08-02          2          0           0           0     52     False
2020-08-09          1          0           0           0     47     False
2020-08-16          1          0           0           0     38     False
2020-08-23          1          0           0           0     36     False
2020-08-30          1          0           0           0     39     False
2020-09-06          1          0           0           0     33     False
2020-09-13          2          0           0           0     33     False
2020-09-20          1          0           0           0     34     False
2020-09-27          1          0           0           0     47     False
2020-10-04          1          0           0           0     45     False
2020-10-11          2          0           0           0     36     False
2020-10-18          1          0           0           0     37     False
2020-10-25          1          0           0           0     42     False
2020-11-01          1          0           0           0     32     False
2020-11-08          2          0           0           0     58     False
2020-11-15          2          0           0           0     89     False
2020-11-22          2          0           0           0     71     False
2020-11-29          2          0           0           0     88     False
2020-12-06          1          0           0           0    100     False
2020-12-13          2          0           0           0     99     False
2020-12-20          2          0           0           0     97     False
2020-12-27          2          0           0           0     95     False
2021-01-03          2          0           0           0     90     False
2021-01-10          2          0           0           0     98     False
2021-01-17          2          0           0           0     82     False
2021-01-24          1          0           0           0     75     False
2021-01-31          2          0           0           0     68      True

In [11]:
df = ['covid','cases','knee pain','back pain','neck pain','shoulder pain','arm pain']#,'neck pain','shoulder pain','arm pain'
i = 0
while i < len(df):
    l = df[i:(i+4)]
    print(l)
    i += 4

['covid', 'cases', 'knee pain', 'back pain']
['neck pain', 'shoulder pain', 'arm pain']

In [14]:
kw_list=['Taylor Swift','covid','city','melina','blake']
for i in range(0,len(kw_list)):
    #kw_list= kw_list[i]
    pytrends.build_payload(kw_list)
    df = pytrends.interest_by_region()
    time.sleep(2)
df.head(10)

                                Taylor Swift  covid  city  melina  blake
geoName
Bakersfield CA                             3     27    66       0      4
Chico-Redding CA                           2     22    73       0      3
Eureka CA                                  1     13    85       0      1
Fresno-Visalia CA                          2     24    71       0      3
Los Angeles CA                             2     23    72       0      3
Medford-Klamath Falls OR                   1     27    69       0      3
Monterey-Salinas CA                        2     25    70       0      3
Palm Springs CA                            1     18    80       0      1
Reno NV                                    1     21    76       0      2
Sacramento-Stockton-Modesto CA             2     20    76       0      2

In [15]:
kw_list2=['Taylor Swift','covid','city','melina','blake','john','dog','covid-19']

i = 0
dataset = pd.DataFrame({'index' : []})
while i < len(kw_list2):
    df_new = None
    l = kw_list2[i:(i+4)]
    pytrends.build_payload(l, cat=0, timeframe='today 12-m', geo='US', gprop='')   # df_new = pd.DataFrame(df_new)
    df_time = pytrends.interest_over_time().drop('isPartial', axis=1)
    df_time.reset_index(inplace=True)
    df_time = pd.DataFrame(df_time)
    dataset = pd.concat([dataset,df_time])
    dataset.fillna(0)
    i += 4
del dataset["index"]
dataset.fillna(0)

         date  Taylor Swift  covid  city  melina  blake  john   dog  covid-19
0  2020-02-09           1.0    0.0  45.0     0.0    0.0   0.0   0.0       0.0
1  2020-02-16           1.0    0.0  46.0     0.0    0.0   0.0   0.0       0.0
2  2020-02-23           2.0    2.0  46.0     0.0    0.0   0.0   0.0       0.0
3  2020-03-01           1.0    7.0  47.0     0.0    0.0   0.0   0.0       0.0
4  2020-03-08           1.0   29.0  46.0     0.0    0.0   0.0   0.0       0.0
..        ...           ...    ...   ...     ...    ...   ...   ...       ...
47 2021-01-03           0.0    0.0   0.0     0.0    8.0  55.0  83.0      10.0
48 2021-01-10           0.0    0.0   0.0     0.0    5.0  55.0  83.0      11.0
49 2021-01-17           0.0    0.0   0.0     0.0    4.0  53.0  83.0      10.0
50 2021-01-24           0.0    0.0   0.0     0.0    4.0  54.0  82.0      10.0
51 2021-01-31           0.0    0.0   0.0     0.0    5.0  62.0  86.0       9.0

[104 rows x 9 columns]

In [21]:
def chunker(seq, size):
    res = []
    for el in seq:
        res.append(el)
        if len(res) == size:
            yield res
            res = []
    if res:
        yield res
list(chunker(kw_list2,3))

[['Taylor Swift', 'covid', 'city'],
 ['melina', 'blake', 'john'],
 ['dog', 'covid-19']]

In [22]:
def chunker(seq, size):
    res = []
    for el in seq:
        res.append(el)
        if len(res) == size:
            yield res
            res = []
    if res:
        yield res
        

dfzz = kw_list2
# Chunk list into managable segments
dataset = pd.DataFrame({'index' : []})

for i in range(0,len(dfzz)):
    l = dfzz[i]
    pytrends.build_payload(l, cat=0, timeframe='today 12-m', geo='US-MI', gprop='')   # df_new = pd.DataFrame(df_new)
    df_time = pd.DataFrame(pytrends.interest_over_time().drop('isPartial', axis=1))
    df_time.reset_index(inplace=True) 
    dataset = pd.concat([dataset,df_time])
    i += 1
del dataset["index"]
dataset.fillna(0)

ResponseError: The request failed: Google returned a response with code 400.

In [23]:
def chunker(seq, size):
    res = []
    for el in seq:
        res.append(el)
        if len(res) == size:
            yield res
            res = []
    if res:
        yield res
        

# Chunk list into managable segments
dataset = pd.DataFrame({'index' : []})

for i in range(0,len(dfzz)):
    l = dfzz[i]
    pytrends.build_payload(l, cat=0, timeframe='today 12-m', geo='US-MI', gprop='')   # df_new = pd.DataFrame(df_new)
    df_time = pd.DataFrame(pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False))
    df_time.reset_index(inplace=True) 
    dataset = pd.concat([dataset,df_time])
    i += 1
del dataset["index"]
dataset.fillna(0)

ResponseError: The request failed: Google returned a response with code 400.

In [24]:
trends = dict()
dataset = pd.DataFrame({'index' : []})
for i in kw_list2:
   ##build out query
    pytrends.build_payload([i,'France'], cat=0,timeframe='today 5-y')
    #pytrends.reset_index(inplace=True) 

   ##save trend to dictionary
    trends[i] = pytrends.interest_over_time()[i]
    #trends = pd.DataFrame.from_dict(trends)
    #dataset = pd.concat([dataset,trends])


    print(trends)

{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32, 'city': date
2016-02-07    65
2016-02-14    76
2016-02-21    73
2016-02-28    69
2016-03-06    71
              ..
2021-01-03    53
2021-01-10    57
2021-01-17    61
2021-01-24    61
2021-01-31    58
Name: city, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32, 'city': date
2016-02-07    65
2016-02-14    76
2016-02-21    73
2016-02-28    69
2016-03-06    71
              ..
2021-01-03    53
2021-01-10    57
2021-01-17    61
2021-01-24    61
2021-01-31    58
Name: city, Length: 261, dtype: int32, 'melina': date
2016-02-07    0
2016-02-14    0
2016-02-21    0
2016-02-28    1
2016-03-06    0
             ..
2021-01-03    1
2021-01-10    0
2021-01-17    0
2021-01-24    0
2021-01-31    1
Name: melina, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32, 'city': date
2016-02-07    65
2016-02-14    76
2016-02-21    73
2016-02-28    69
2016-03-06    71
              ..
2021-01-03    53
2021-01-10    57
2021-01-17    61
2021-01-24    61
2021-01-31    58
Name: city, Length: 261, dtype: int32, 'melina': date
2016-02-07    0
2016-02-14    0
2016-02-21    0
2016-02-28    1
2016-03-06    0
             ..
2021-01-03    1
2021-01-10    0
2021-01-17    0
2021-01-24    0
2021-01-31    1
Name: melina, Length: 261, dtype: int32, 'blake': date
2016-02-07    13
2016-02-14    20
2016-02-21    13
2016-02-28    13
2016-03-06    13
              ..
2021-01-03    12
2021-01-10     8
2021-01-17     6
2021-01-24     8
2021-01-31     9
Name: blake, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32, 'city': date
2016-02-07    65
2016-02-14    76
2016-02-21    73
2016-02-28    69
2016-03-06    71
              ..
2021-01-03    53
2021-01-10    57
2021-01-17    61
2021-01-24    61
2021-01-31    58
Name: city, Length: 261, dtype: int32, 'melina': date
2016-02-07    0
2016-02-14    0
2016-02-21    0
2016-02-28    1
2016-03-06    0
             ..
2021-01-03    1
2021-01-10    0
2021-01-17    0
2021-01-24    0
2021-01-31    1
Name: melina, Length: 261, dtype: int32, 'blake': date
2016-02-07    13
2016-02-14    20
2016-02-21    13
2016-02-28    13
2016-03-06    13
              ..
2021-01-03    12
2021-01-10     8
2021-01-17     6
2021-01-24     8
2021-01-31     9
Name: blake, Length: 261, dtype: int32, 'john': date
2016-02-07    46
2016-02-14    44
2016-02-21    44
2016-02-28    48
2016-03-06    48
              ..
2021-01-03    36
2021-01-10    39
2021-01-17    36
2021-01-24    35
2021-01-31    38
Name: john, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32, 'city': date
2016-02-07    65
2016-02-14    76
2016-02-21    73
2016-02-28    69
2016-03-06    71
              ..
2021-01-03    53
2021-01-10    57
2021-01-17    61
2021-01-24    61
2021-01-31    58
Name: city, Length: 261, dtype: int32, 'melina': date
2016-02-07    0
2016-02-14    0
2016-02-21    0
2016-02-28    1
2016-03-06    0
             ..
2021-01-03    1
2021-01-10    0
2021-01-17    0
2021-01-24    0
2021-01-31    1
Name: melina, Length: 261, dtype: int32, 'blake': date
2016-02-07    13
2016-02-14    20
2016-02-21    13
2016-02-28    13
2016-03-06    13
              ..
2021-01-03    12
2021-01-10     8
2021-01-17     6
2021-01-24     8
2021-01-31     9
Name: blake, Length: 261, dtype: int32, 'john': date
2016-02-07    46
2016-02-14    44
2016-02-21    44
2016-02-28    48
2016-03-06    48
              ..
2021-01-03    36
2021-01-10    39
2021-01-17    36
2021-01-24    35
2021-01-31    38
Name: john, Length: 261, dtype: int32, 'dog': date
2016-02-07    68
2016-02-14    78
2016-02-21    68
2016-02-28    65
2016-03-06    64
              ..
2021-01-03    83
2021-01-10    83
2021-01-17    84
2021-01-24    84
2021-01-31    87
Name: dog, Length: 261, dtype: int32}
{'Taylor Swift': date
2016-02-07    12
2016-02-14    35
2016-02-21    15
2016-02-28    11
2016-03-06    10
              ..
2021-01-03     4
2021-01-10     6
2021-01-17     3
2021-01-24     5
2021-01-31     5
Name: Taylor Swift, Length: 261, dtype: int32, 'covid': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    63
2021-01-10    65
2021-01-17    57
2021-01-24    60
2021-01-31    48
Name: covid, Length: 261, dtype: int32, 'city': date
2016-02-07    65
2016-02-14    76
2016-02-21    73
2016-02-28    69
2016-03-06    71
              ..
2021-01-03    53
2021-01-10    57
2021-01-17    61
2021-01-24    61
2021-01-31    58
Name: city, Length: 261, dtype: int32, 'melina': date
2016-02-07    0
2016-02-14    0
2016-02-21    0
2016-02-28    1
2016-03-06    0
             ..
2021-01-03    1
2021-01-10    0
2021-01-17    0
2021-01-24    0
2021-01-31    1
Name: melina, Length: 261, dtype: int32, 'blake': date
2016-02-07    13
2016-02-14    20
2016-02-21    13
2016-02-28    13
2016-03-06    13
              ..
2021-01-03    12
2021-01-10     8
2021-01-17     6
2021-01-24     8
2021-01-31     9
Name: blake, Length: 261, dtype: int32, 'john': date
2016-02-07    46
2016-02-14    44
2016-02-21    44
2016-02-28    48
2016-03-06    48
              ..
2021-01-03    36
2021-01-10    39
2021-01-17    36
2021-01-24    35
2021-01-31    38
Name: john, Length: 261, dtype: int32, 'dog': date
2016-02-07    68
2016-02-14    78
2016-02-21    68
2016-02-28    65
2016-03-06    64
              ..
2021-01-03    83
2021-01-10    83
2021-01-17    84
2021-01-24    84
2021-01-31    87
Name: dog, Length: 261, dtype: int32, 'covid-19': date
2016-02-07     0
2016-02-14     0
2016-02-21     0
2016-02-28     0
2016-03-06     0
              ..
2021-01-03    17
2021-01-10    17
2021-01-17    17
2021-01-24    19
2021-01-31    12
Name: covid-19, Length: 261, dtype: int32}

In [25]:
"US-AL","US-AK","US-AZ","US-AR","US-CA"
"US-CO","US-CT","US-DE","US-FL","US-GA"
"US-HI","US-ID","US-IL","US-IN","US-IA"
"US-KS","US-KY","US-LA","US-ME","US-MD"
"US-MA","US-MI","US-MN","US-MS","US-MO"
"US-MT","US-NE","US-NV","US-NH","US-NJ"
"US-NM","US-NY","US-NC","US-ND","US-OH"
"US-OK","US-OR","US-PA","US-RI","US-SC"
"US-SD","US-TN","US-TX","US-UT","US-VT"
"US-VA","US-WA","US-WV","US-WI","US-WY"

('US-VA', 'US-WA', 'US-WV', 'US-WI', 'US-WY')